.mydiv {
    height: 300px;
    width: 280px;
    /* margin: 20px; */
    padding: 30px;
    border: 8px red;
}

.border1 {
    border-style: solid;
}

.border2 {
    border-style: none dashed;
    background-color: rgb(47, 7, 85);
    color: white;
}

.border3 {
    border-style: dashed none solid;
    background-color: rgb(188, 181, 194);
    color: white;
}